<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sec.ose.airs.persistence.SPDXMapper">
	<insert id="insertPackage" parameterType="SPDXPackage" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO packages
		(
			name,
			version,
			fileName,
			supplier,
			originator,
			verificationCode,
			checksum,
			concludedLicense,
			allLicensesInfoFromFiles,
			declaredLicense,
			reviewer,
			reviewDate,
			created,
			spdxVersion,
			person,
			organization,
			tool
		) VALUES (
			#{name},
			#{version},
			#{fileName},
			#{supplier},
			#{originator},
			#{verificationCode},
			#{checksum},
			#{concludedLicense},
			#{allLicensesInfoFromFiles},
			#{declaredLicense},
			#{reviewer},
			#{reviewDate},
			#{created},
			#{spdxVersion},
			#{person},
			#{organization},
			#{tool}
		)
	</insert>
	
	<insert id="insertFile" parameterType="SPDXFile">
		INSERT INTO files
		(
			packageId,
			name,
			type,
			checksum,
			concludedLicense,
			comment
		) VALUES (
			#{packageId},
			#{name},
			#{type},
			#{checksum},
			#{concludedLicense},
			#{comment}
		)
	</insert>
	
	<insert id="insertOtherLicense" parameterType="OtherLicense">
		INSERT INTO otherLicenses
		(
			packageId,
			licenseId,
			extractedText,
			name,
			comment
		) VALUES (
			#{packageId},
			#{licenseId},
			#{extractedText},
			#{name},
			#{comment}
		)
	</insert>
	
	<select id="getPackageList" resultType="SPDXPackage">
		SELECT
			*
		FROM
			packages
		ORDER BY id desc
	</select>
	
	<select id="getFileList" parameterType="int" resultType="SPDXFile">
		SELECT
			*
		FROM
			files
		WHERE
			packageId = #{id}
	</select>
	
	<select id="getOtherLicenseList" parameterType="int" resultType="OtherLicense">
		SELECT
			*
		FROM
			otherLicenses
		WHERE
			packageId = #{id}
	</select>
	
	<select id="getPackage" parameterType="int" resultType="SPDXPackage">
		SELECT
			*
		FROM
			packages
		WHERE
			id = #{id}
	</select>
	
	<delete id="deletePackageAndFilesAndOtherLicensces" parameterType="int">
		DELETE FROM packages
		WHERE
			id = #{id}
	</delete>
	
	
	<select id="getSameFileWithChecksum" parameterType="java.util.HashMap" resultType="SPDXFile">
		SELECT 
			packageId,
			name,
			type,
			checksum,
			concludedLicense,
			comment,
			(
				SELECT
					created
				FROM
					packages
				WHERE
					id = f.packageId
			) as created
		FROM files f
		WHERE
			checksum = #{checksum}
			AND
			packageId IN
			<foreach item="packageId" collection="packageIdList" open=" (" separator="," close=") ">
				#{packageId}
			</foreach>
		ORDER BY created DESC
	</select>
</mapper>